name: Maven Central Repo Deployment
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  publish-central:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout Git Repo
        uses: actions/checkout@v4

      - name: Set up Apache Maven Central
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          server-id: central
          server-username: ${{ secrets.MAVEN_USERNAME  }}
          server-password: ${{ secrets.SERVER_PASSWORD }}
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: ${{ secrets.GPG_PASSPHRASE }}

      - name: Publish to Apache Maven Central
        run: mvn deploy -Prelease