name: Maven Central Repo Deployment

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  publish-central:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Git Repo
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          server-id: central

      - name: Import GPG Private Key
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
        run: |
          echo "$GPG_PRIVATE_KEY" | gpg --batch --import
          # 可选：打印密钥信息用于调试
          gpg --list-secret-keys --keyid-format LONG

      - name: Publish to Maven Central
        env:
          CENTRAL_USERNAME: ${{ secrets.SERVER_USERNAME }}
          CENTRAL_PASSWORD: ${{ secrets.SERVER_PASSWORD }}
        run: mvn -Prelease -DskipTests -Dmaven.javadoc.skip=true clean deploy